head
  meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
  title Cruncht.im
  link(rel="stylesheet", href="/stylesheets/leaflet.css", type="text/css")
  // [if lte IE 8]
    link(rel="stylesheet", href="/stylesheets/leaflet.ie.css", type="text/css")
  link(href='/stylesheets/jquery-ui-slider.css', rel='stylesheet', type='text/css')
  link(href='/stylesheets/culturewok.css', rel='stylesheet', type='text/css')
  script(type="text/javascript", src="/scripts/leaflet.js")
  script(type="text/javascript", src="/scripts/jquery-1.7.1.min.js")
  script(type="text/javascript", src="/scripts/jquery-ui-slider.min.js")
  script(type="text/javascript") var myjson = '!{json}';
  script(type="text/javascript", src="/scripts/culturewok.js")
body
  div#map
  div#slidebar