head
  meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
  title Cruncht.im
  link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css", type="text/css")
  link(rel="stylesheet", href="/stylesheets/leaflet.css", type="text/css")
  // [if lte IE 8]
    link(rel="stylesheet", href="/stylesheets/leaflet.ie.css", type="text/css")
  link(href='/stylesheets/jquery-ui-slider.css', rel='stylesheet', type='text/css')
  link(href='/stylesheets/displaymap.css', rel='stylesheet', type='text/css')
  script(type="text/javascript", src="/scripts/leaflet.js")
  script(type="text/javascript", src="/scripts/jquery-1.7.1.min.js")
  script(type="text/javascript", src="/scripts/jquery-ui-slider.min.js")
  script(type="text/javascript", src="/scripts/simplify-min.js")
  script(type="text/javascript") var myjson = '!{json}';
  script(type="text/javascript", src="/scripts/displaymap.js")
body
  div#topbar
    div.instructions
      div.desktop
        strong Drop GeoJSON, KML, GPX, and CSV files with times onto this page.&nbsp;
        a(href="/geos/ToEneko.kml") Download one
        span &nbsp;|&nbsp;
        a(href="/login") Your OpenStreetMap Traces
      div.mobile
        strong Upload GeoJSON, KML, GPX, and CSV files with times.
        input(name="mygpx", type="file")
    div.output
      span#readtime
      a#edittime.btn.btn-info Edit
      img.clock(src="/clock.gif")
    div#slidebar
    div#controls.output
      a.btn.btn-success(href="#")
        i.icon-play-circle.icon-white
        span Play
  div#map

  script(type="text/javascript", src="/scripts/bootstrap.min.js")
  div#csvguide.modal.hide.fade
    div.modal-header
      button.close.cancelcsv(type="button", data-dismiss="modal", aria-hidden="true") &times;
      h3 CSV Guide
    div.modal-body
      p
        span Click the X above the&nbsp;
        span#colnamer latitude
        span &nbsp;column.
      table.table.table-bordered.table-striped

  div#timelinetrim.modal.hide.fade
    div.modal-header
      button.close(type="button", data-dismiss="modal", aria-hidden="true") &times
      h3 Edit Map
    div.modal-body
      div.well(onmousedown="showSimplification()")
        strong Smooth Lines
        br
        div#simplifyslider
        a.btn.btn-info(href="#", onclick="simplifyLines()") Simplify
        br
      strong Trim
      br
      div#trimslider
      ul
        li
          span Start at&nbsp;
          span#trimstart
        li
          span End at&nbsp;
          span#trimend
      br
      a#trimnow.btn.btn-primary.pull-right(href="#") Trim Now