html, body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  margin:0;
  padding:0;
  font-family: arial, sansserif;
  background-color: #f0f0f0;
}
#map {
  height:100%;
  overflow:hidden;
  width:100%;
}
.marker{
  vertical-align:middle;
  width: 26px;
  margin: 8px;
  display: inline-block;
}
#slidebar {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 24%;
  margin-right: 24%;
}
#slidebar a {
  font-size:10px;
  text-decoration:none;
  display: none;
}
#slidebar a.ui-slider-handle{
  display: block;
}
#controls i{
  vertical-align: middle;
  margin-top: -2px;
}
#edittime{
  margin-left: 10px;
}
.mobile{
  display: none;
}
.clock{
  display: none;
  height: 28px;
  margin-left: 10px;
}
.btn-inverse{
  display: none;
}